html,
body,
#__next {
  height: 100%;
}

* {
  touch-action: manipulation;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

#drawer-product {
  height: 100% !important;
}
